<% include partials/header %>

<div class="container">
<!--// if       no user-->
<!--// else if  admin-->
<!--// else     user-->
    <% if (!currentUser) { %>
        <% include partials/login %>
    <% } else if (currentUser.admin === true) { %>
        <h1>Hello Admin!</h1>
        <p><a href="/blog/new">Add new post!</a></p>
        <p><a href="/admin/logout">Sign Out!</a></p>
    <% } else { %>
        <h1>Hello <%= currentUser.name.toLocaleUpperCase() %>!</h1>
        <a href="/admin/logout">Sign Out!</a>
    <% } %>

    <!--<a href="/admin/login">Login</a>-->
</div>




<% include partials/footer %>