<% include partials/header %>


<div class="jumbotron">
    <div class="container">
        <h1>Domas Astrauskas</h1>
        <p>Full-Stack developer</p>
        <p><a class="btn btn-primary btn-lg" href="#get-started" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="row" id="get-started">
        <div class="col-xs-12 col-sm-4">
            <h3>What I do</h3>
            <p>I am full-stack developer/ IT specialist. I am capable of programming, administrating databases and local computer network. My main programming language is Java. I tried NodeJS and I think i am in love with ir.</p>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3>About</h3>
            <p>This is my reverence website. Here I will post every career detail related to programming and web applications development. Text Text Text Text TextText Text Text Text TextText Text Text Text TextText Text Text Text</p>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3>Portfolio</h3>
            <p>My latest project is Thesis Degree of procedurally generated music. Another project is this blog web application, purpose of this project is to learn front and back end development. Text Text Text Text Text Text</p>
        </div>
    </div>


    <div id="what-I-do">
        <h3>What I do</h3>
        <p>
            Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
        </p>
    </div>

    <div id="about">
        <h3 id="about">About</h3>
        <p>
            Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
        </p>
    </div>

    <div id="portfolio">
        <h3 id="portfolio">Portfolio</h3>
        <p>
            Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
        </p>
    </div>

    <div id="contact-me">
        <h3 id="contact-me">Contact Me</h3>
        <p>
            Lorem ipsum - tai fiktyvus tekstas naudojamas spaudos ir grafinio dizaino pasaulyje jau nuo XVI a. pradžios. Lorem Ipsum tapo standartiniu fiktyviu tekstu, kai nežinomas spaustuvininkas atsitiktine tvarka išdėliojo raides atspaudų prese ir tokiu būdu sukūrė raidžių egzempliorių. Šis tekstas išliko beveik nepasikeitęs ne tik penkis amžius, bet ir įžengė i kopiuterinio grafinio dizaino laikus. Jis išpopuliarėjo XX a. šeštajame dešimtmetyje, kai buvo išleisti Letraset lapai su Lorem Ipsum ištraukomis, o vėliau -leidybinė sistema AldusPageMaker, kurioje buvo ir Lorem Ipsum versija.
        </p>
    </div>

</div>

<% include partials/footer %>