<% include ../partials/header %>

<div class="container">
    <h1 class="ui center aligned header">Welcome to Blog!</h1>


    <% posts.forEach(function(post) { %>
        <h3><%= post.title %> - <em><%= post.author %></em></h3>
        <p><%= post.post %></p>
        <a href="/blog/<%= post._id %>">Read More!</a><hr>
    <% }); %>

</div>

<% include ../partials/footer %>