<% include ../partials/header %>

<div class="container">
    <form action="/blog" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="article">Article</label>
            <textarea class="form-control" id="article" name="post" placeholder="Enter article"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" value="Approve">
        </div>
    </form>
</div>

<% include ../partials/footer %>