<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
        <button class=navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#wthing">Thing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#thing">Thing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#thing">Thing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="#thing">Thing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#thing">Thing</a></li>
                    <li><a href="#thing">Thing 1</a></li>
                    <li><a href="#thing">Thing 2</a></li>
                    <li><a href="#thing">Thing 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/blog"><span class="glyphicon glyphicon-book"></span> Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>