

<div class="container">
    <form action="/admin/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="from-group">
            <input type="submit" class="form-control btn btn-primary" value="Sign in">
        </div>
    </form>
</div>

